<div class="s-container"><h2 class="slogan">Help Us To Serve You Better </h2></div>
<div class="completed">
  <h1>You have already completed the form!</h1>
  <img src="https://rlv.zcache.com/happy_smiley_face_round_stickers-rbdcd90a58b8e40a9b895e7c2fd1e65ef_v9waf_8byvr_324.jpg" alt="">
</div>
