 <h1 class="dashboard"> Dashboard </h1>

 <h2 class="respos"> Total number of Respondents: <span class="total-respos"> <span></h2>

<div class="db-container">
  <div class="q1graph">
    <h2 class="db-q"> Age Group </h2>
    <svg width="500" height="300"></svg>
    <p class="footnote"> Pie Chart for Age Group | WDI Conf 2017 Survey</p>
  </div>
<div class="q2-q3">
  <div class="q2graph">
    <h2 class="db-q"> Programming Experience </h2>
    <svg></svg>
    <p class="footnote"> Donut Chart for Experience in Programming | WDI Conf 2017 Survey </p>
  </div>
  <div class="q3Graph">
    <h2 class="db-q"> Speaker Engaging? </h3>
    <svg></svg>
    <p class="footnote"> Bar Chart for Speaker engaging | WDI Conf 2017 Survey </p>
  </div>
</div>
</div>
